﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Skills</title>

    <style>
        .rate-btn {
            margin: 0 5px;
            border-radius: 50% !important;
        }

        .btn-remove, .btn-update {
            cursor: pointer;
            width: 40px;
            margin: 0 10px;
        }

        .btn-success {
            border-radius: 1px;
        }

        .table td {
            width: 33% !important;
            vertical-align: middle !important;
        }

        .table tr:nth-child(even) {
            background-color: #f5f5f5;
        }

        .table{
            font-size: 16px;
        }

    </style>
</head>
<body>
    <div class="container" style="width:60%">
        <div class="row">
            <div class="col-md-12">
                <h3><Strong>Skills</Strong></h3>
                <div class="col-md-3">
                    <input data-bind="value: skillName" type="text" placeholder="Add skill.." class="form-control" />
                </div>
                <div class="col-md-6">
                    <div class="btn-group" data-toggle="buttons">
                        @for (int i = 0; i < 6; i++)
                        {
                            <label class="btn btn-default rate-btn" data-bind="click: setRate.bind($data, @i), css: {'btn-primary active': active() == @i}">
                                <input type="radio" autocomplete="off" />
                                @i
                            </label>
                        }
                    </div>
                </div>

                <div class="col-md-3 pull-right">
                    <button data-bind="click: addSkill" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Add skill</button>
                    @*<button data-bind="click: showSkills" class="btn btn-success">Show skills</button>*@
                </div>
            </div>
        </div>
        <hr />

        <div class="row" data-bind="visible: skills().length > 0">

            <div class="panel panel-default">
                <div class="panel-heading"><h4><span data-bind="text: skills().length"></span> Skill<span data-bind="visible: skills().length > 1">s</span></h4></div>
                <table class="table table-condensed">
                    <tbody data-bind="foreach: skills">
                        <tr>
                            <td data-bind="text: Name"></td>
                            <td>
                                <div class="btn-group" data-toggle="buttons">
                                    @for (int i = 0; i < 6; i++)
                                    {
                                        <label class="btn btn-default rate-btn" data-bind="click: changeRate.bind($data, @i), css: {'btn-primary active': Rate() == @i}">
                                            <input type="radio" autocomplete="off" />                                       @*css: {'btn-primary active': newRate() == 'undefined'? Rate() == @i : newRate() == @i*@
                                            @i
                                        </label>
                                    }
                                </div>
                            </td>
                            <td style="text-align:center!important">
                                <label class="btn-update"><label class="label label-success" data-bind="click: updateSkill.bind($data, Id), visible: Rate() != newRate()" >Save</label></label>
                                <label class="btn-remove"><span class="glyphicon glyphicon-trash" style="top:5px;" data-bind="click: removeSkill.bind($data, Id)"></span></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/addSkill.js"></script>
</body>
</html>
